:root{
    --background-color: #050e14;
    --background-lighter: hsl(204, 60%, 15%);
    --background-lightest: hsl(204, 60%, 30%);
    --text-color: #E5EFF6;
    --primary-color: #8AC4EC;
    --secondary-color: #0e67a4;
    --accent-color: #1fa2fc;
}

#fader{
    display: flex;
    align-items: center;
    position: relative;
}

#back-image{
    display: flex;
    height: auto;
    width: 45vw;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    
    z-index: -2;
}

#logo-image{
    height: auto;
    width: 15vw;
}

#poster-image{
    display: flex;
    height: auto;
    width: 45vw;
    animation: slideFromRight 2s ease-in-out forwards;
    position: absolute;
    border-radius: 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}

#fader::before{
    content: "";
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--background-color), rgba(255, 255, 255, 0) 20%),
                linear-gradient(to top, var(--background-color), rgba(255, 255, 255, 0)) 1%,
                linear-gradient(to bottom, var(--background-color), rgba(255, 255, 255, 0) 20%);
    z-index: 1;
}

@keyframes slideFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}   